{% extends "base.html" %}

{% block main %}

<div class="row">
    <div class="col big">
        <h1>Work easier <br> Work faster</h1>
        <h2>Mercurial is a free, distributed source control management tool. It efficiently handles projects of any size and offers an easy and intuitive interface.</h2>
    </div>
    <div class="col">                   
        {% block sidebar %}
         {{ super() }}
        {% endblock %}
    </div>
</div>

<div class="row">
    <div class="col big">
        <h3>How you can benefit from Mercurial</h3>
        <ol>
        <!-- The three sections should now grow more compact as you go down, with power and speed the longest and just works only two simple, clean sentences. -->
            <li class="i-1">
                It is <a href="/about">fast and powerful</a>
                <p>Mercurial efficiently handles <a href="/who">projects of any size and kind</a><!--Reference: http://mercurial.selenic.com/wiki/ProjectsUsingMercurial -->. Every clone contains the whole project history, so most actions are local, fast and convenient. Mercurial supports a multitude of <a href="http://mercurial.selenic.com/wiki/WorkingPractices">workflows</a> and you can easily enhance its functionality with <a href="http://mercurial.selenic.com/wiki/UsingExtensions">extensions</a>.</p>
            </li>
            <li class="i-2">
                It is <a href="/learn">easy to learn</a><!-- point to a site which begins with a random "easy to learn" testimonial and then shows ways to learn Mercurial, from quick start to indepth -->
                <p>You can follow our simple <a href="/guide">guide</a> to learn how to revision your documents with Mercurial, or just use the <a href="/quickstart">quick start</a> to get going instantly. A short overview of Mercurial's decentralized model is also <a href="http://mercurial.selenic.com/wiki/UnderstandingMercurial">available</a>.<!--If you already know Subversion, please see <a href="mercurial_for_svn_users">Mercurial for svn users</a>.--></p>
            </li>
            <li class="i-3">
                And it just works
                <!--<p><em>Random quote about usability.</em></p>-->
                <p>Mercurial strives to deliver on each of its promises. Most tasks simply work on the first try and without requiring arcane knowledge. <!--(If one doesn't, that's most likely no feature but a <a href="http://selenic.com/mercurial/bugs/">bug</a>. Please <a href="http://selenic.com/mercurial/bugs/">tell us about it</a>!) 
                commented out because it feels awkward.--></p>
            </li>
        </ol>
    </div>
    <div class="col">
        <h3>Quick Start</h3>

        <p><em>Clone a project and push changes</em>
<pre>$ hg clone http://selenic.com/repo/hello
$ cd hello
$ (edit files)
$ hg add (new files)
$ hg commit -m 'My changes'
$ hg push

</pre>
</p>

<p><em>Create a project and commit</em>
<pre>$ hg init (project-directory)
$ cd (project-directory)
$ (add some files)
$ hg add
$ hg commit -m 'Initial commit'
</pre>
</p>
    <!--Change into project dir before initiating repo to avoid a possible stumbling point.-->
    </div>
</div>

{% endblock %}
