{% extends "base.html" %}

{% block content %}
		<h1>Who uses Mercurial</h1>
		<p><strong>Mercurial is a free, distributed source control management tool. It is currently used by many Open Source Projects such as...</strong></p>
        <h3>Python</h3>
        Python is a famous and widely adopted scripting language. Many applications like Mercurial, Django and Googles AppEngine are built on top of Python. In 2009 the Python developers <a href="http://www.python.org/dev/peps/pep-0374/">chose to move from Subversion to Mercurial</a>.</p>
        <p><a href="http://www.python.org">http://www.python.org</a></p>
        <h3>Mozilla</h3>
        Mozilla is an open source project that is currently developing the popular <a href="http://www.mozilla.com/firefox">Firefox</a> internet browser, the email client <a href="http://www.mozilla.com/thunderbird">Thunderbird</a> and the application suite SeaMonkey. Mozilla chose Mercurial in 2006.</p>
        <p><a href="http://www.mozilla.org">http://www.mozilla.org</a></p>
        <h3>OpenSolaris</h3>
        <p>The Solaris based open source operating system project chose Mercurial in 2006. It is used for the development of OpenSolaris core components and packages. Mercurial helps OpenSolaris to maintain their external contributions and make sure that external packages fit the quality requirements of the project. Mercurial was chosen after a deep evaluation of existing version control systems.</p>
        <p>The project has a dedicated <a href="http://opensolaris.org/os/community/tools/scm/">web page with information</a> about the evaluation.</p>
        <p><a href="http://www.opensolaris.org">http://www.opensolaris.org</a></p>
        <h3>Java / OpenJDK</h3>
        OpenJDK is the official open sourced Java implementation of Sun Microsystems. When open sourcing the project, Sun chose Mercurial as their main version control system.
        <p><a href="http://openjdk.java.net/">http://openjdk.java.net/</a></p>
        <h3>and others...</h3>
        <p>Not just OpenSolaris, Mozilla, Java and Python use Mercurial. A lot of projects of various sizes have decided to use Mercurial for its efficiency and power. A longer list of projects which use Mercurial can be found <a href="http://www.selenic.com/mercurial/wiki/ProjectsUsingMercurial">in the wiki</a>.</p>
{% endblock %}
{% block sidebar %}
 {{ super() }}
{% endblock %}
