{% extends "base.html" %}


{% block content %}
<h1>Mercurial source control management</h1>
<p><strong>Mercurial is a free, distributed source control management tool. It offers you the power to efficiently handle projects of any size while using an intuitive interface. It is easy to use and hard to break, making it ideal for anyone working with versioned files.
</strong></p>

<h2>Distributed architecture</h2>

<p>Traditional version control systems such as Subversion are typical client-server architectures with a central server to store the revisions of a project. In contrast, Mercurial is truly distributed, giving each developer a local copy of the entire development history. This way it works independent of network access or a central server. Committing, branching and merging are fast and cheap.</p>

<h2>Fast</h2>

<p>Mercurials implementation and data structures are designed to be fast. You can generate diffs between revisions, or jump back in time within seconds. Therefore Mercurial is perfectly suitable for large projects such as OpenJDK (<a href="http://hg.openjdk.java.net/jdk7/jdk7">hg</a>) or NetBeans (<a href="http://hg.netbeans.org/">hg</a>).</p>

<h2>Platform independent</h2>

<p>Mercurial was written with platform independence in mind. Therefore most of Mercurial is written in Python, with a small part in portable C for performance reasons. As a result, binary releases are available on all major platforms.</p>

<h2>Extensible</h2>

<p>The functionality of Mercurial can be increased with extensions, either by activating the official ones which are shipped with Mercurial or downloading some <a href="http://mercurial.selenic.com/wiki/UsingExtensions">from the wiki</a> or by <a href="http://mercurial.selenic.com/wiki/WritingExtensions">writing your own</a>. Extensions are written in Python and can change the workings of the basic commands, add new commands and access all the core functions of Mercurial.</p>

<h2>Easy to use</h2>

<p>Mercurial sports a consistent command set in which most subversion users feel right at home. Potentially dangerous actions are available via extensions you need to enable, so the basic interface is easy to use, easy to learn and hard to break. The <a href="/quickstart/">Quick Start</a> should get you going in a just few minutes.</p>

<h2>Open Source</h2>

<p>Mercurial is free software licensed under the terms of the
<a href="http://www.gnu.org/licenses/gpl-2.0.txt">
GNU General Public License Version 2</a> or any later version.</p>

<h3>Similar projects</h3>

<p>Mercurial is used for version control of files. Similar projects include <a href="http://git-scm.org">Git</a> and <a href="http://bazaar-vcs.org">Bazaar</a>. Version control systems without a distributed architecture include <a href="http://subversion.tigris.org/">Subversion</a> and <a href="http://www.nongnu.org/cvs/">CVS</a>.

<h3>The Website</h3>
<p>The <a href="/thepage">website</a> is a project of the Mercurial community.
The <a href="http://bitbucket.org/segv/hg-website">source</a> is
licensed under GPLv2 or later. Feel free to send us patches.
{% endblock %}

{% block sidebar %}
    {{ super() }}
{% endblock %}
