/*
 '.' preffix selects class (<div class="test">) would be .test
 '#' preffix selects id (<div id="test">) would be #test
 i really suck at css and design in general.
*/

body {
	background-color: #eee;
	color: #000;
}

#center {
	position: fixed;
	left: 50%;
	top: 50%;
}

#center-content {
	position: absolute;
	white-space: nowrap;
	transform: translate(-50%, -50%);
}

div.txt-hcentered {
	text-align: center;
}

img.hcenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
